In [1]:
#importing libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
#website url from which scrapping is done
url="https://www.magicbricks.com/property-for-sale/residential-real-estate?&proptype=Multistorey-Apartment,Builder-Floor-Apartment,Penthouse,Studio-Apartment,Residential-House,Villa&cityName=Kolkata"

In [3]:
#using bs4 to get content from the page
page = requests.get(url)

In [4]:
#extracted html data
soup = BeautifulSoup(page.content,'html.parser')

In [5]:
#price class data extracted
price = soup.findAll(attrs={'class':'m-srp-card__price'})

In [6]:
price[0].text

'25.5 Lac'

In [7]:
a=[None]*60

In [8]:
l=len(price)

In [9]:
a[0]=price[0].text

In [10]:
for i in range(0,l,2):
    a[i]=price[i].text

In [11]:
price_new = []
for val in a:
    if val != None :
        price_new.append(val)

In [12]:
price_new

['25.5 Lac',
 '49.5 Lac',
 '29 Lac',
 '41.5 Lac',
 '29.7 Lac',
 '36.2 Lac',
 '23.9 Lac',
 '69.7 Lac',
 '40.4 Lac',
 '26.8 Lac',
 '63 Lac',
 '71 Lac',
 '52.2 Lac',
 '39.8 Lac',
 '72.6 Lac',
 '29 Lac',
 '26.4 Lac',
 '61.3 Lac',
 '21.4 Lac',
 '1.07 Cr',
 '70 Lac',
 '64.2 Lac',
 '78 Lac',
 '27.7 Lac',
 '62 Lac',
 '48 Lac',
 '54.8 Lac',
 '56.9 Lac',
 '49.7 Lac',
 '41 Lac']

In [13]:
#bhk class data extracted
size = soup.findAll(attrs={'class':'m-srp-card__title__bhk'})

In [14]:
size[0].text

'\n\t\t\t\t            \t\t\n\t\t\t\t            \t\t\t\n\t\t\t\t            \t\t\t\t2 BHK Flat\n\t\t\t\t            \t\t\t\n\t\t\t\t            \t\t\t\n\t\t\t\t            \t\t\n\t\t\t\t            \t'

In [15]:
l=len(size)
l

30

In [16]:
size_new=[None]*l

In [17]:
for i in range(0,l):
    size_new[i]=size[i].text.replace("\t","").replace("\n","").replace(" ","")

In [18]:
size_new

['2BHKFlat',
 '2BHKFlat',
 '3BHKFlat',
 '2BHKFlat',
 '2BHKFlat',
 '3BHKFlat',
 '2BHKFlat',
 '3BHKFlat',
 '3BHKFlat',
 '2BHKFlat',
 '3BHKFlat',
 '3BHKFlat',
 '3BHKFlat',
 '2BHKFlat',
 '3BHKFlat',
 '2BHKFlat',
 '2BHKFlat',
 '3BHKFlat',
 '2BHKFlat',
 '3BHKFlat',
 '3BHKFlat',
 '3BHKFlat',
 '3BHKFlat',
 '2BHKFlat',
 '2BHKFlat',
 '3BHKFlat',
 '3BHKFlat',
 '3BHKFlat',
 '2BHKFlat',
 '2BHKFlat']

In [19]:
sqft = soup.findAll(attrs={'class':'m-srp-card__summary__info'})

In [20]:
for i in range(0,8):
    print(sqft[i].text)

823Â sqft

								Possession by Dec '21

2 out of 8 floors
New Property
Unfurnished

Golden Heights

1 Covered
2

In [21]:
#location class data extracted
loc = soup.findAll(attrs={'class':'m-srp-card__title'})

In [22]:
l=len(loc)
l

30

In [23]:
s=[None]*l

In [24]:
for i in range(0,l):
    s[i]=loc[i].text.replace("\t","").replace("\n","").replace(" ","")

In [25]:
s

['2BHKFlatforSaleGoldenHeights,inSonarpur',
 '2BHKFlatforSaleOrbitLumiere,inBTRoad',
 '3BHKFlatforSaleAnanya,inRajpur',
 '2BHKFlatforSaleSuCasaRoyal,inNarendrapur',
 '2BHKFlatforSaleGoldenHeights,inSonarpur',
 '3BHKFlatforSaleFortuneHeights,inBarasat',
 '2BHKFlatforSaleEdenCityMaheshtala,inMaheshtala',
 '3BHKFlatforSaleEssense,inHowrah',
 '3BHKFlatforSaleTirupatiParadise,inRajpur',
 '2BHKFlatforSaleGoldenHeights,inSonarpur',
 '3BHKFlatforSaleGreenHeightsII,inRajarhat',
 '3BHKFlatforSaleMeenaEcoVista,inNewTown',
 '3BHKFlatforSaleMagnoliaMerlion,inRajarhat',
 '2BHKFlatforSaleChitrakutHeights,inNewTown',
 '3BHKFlatforSalePratham,inBTRoad',
 '2BHKFlatforSaleTirathDivine,inMadhyamGram',
 '2BHKFlatforSaleMetroHeights,inThakurPukur',
 '3BHKFlatforSaleAsconEra,inRajarhat',
 '2BHKFlatforSaleGemsCity,inJoka',
 '3BHKFlatforSaleFloraFountain,inTopsia',
 '3BHKFlatforSaleTheOrchidGrandeur,inRajarhat',
 '3BHKFlatforSaleOrchardAvaasa,inRajarhat',
 '3BHKFlatforSaleTwinTowers,inHowrah',
 '2BHKFlatforSaleinKamalgazi,Narendrapur',
 '2BHKFlatforSaleSiddhaGalaxiaPhase2,inRajarhat',
 '3BHKFlatforSaleinNaktala,Garia',
 '3BHKFlatforSaleDTCSouthernHeights,inIndianInstituteOfManagementCalcutta,Joka',
 '3BHKFlatforSaleinDumdumPark',
 '2BHKFlatforSaleSiddhaHappyVille,inRajarhat',
 '2BHKFlatforSaleSuncrestEstate,inDakshinSrirampur,Rajpur']

In [26]:
head=[None]*l
sep=[None]*l
tail=[None]*l

In [27]:
for i in range(0,l):
    head[i], sep[i], tail[i] = s[i].partition('in')

In [28]:
tail

['Sonarpur',
 'BTRoad',
 'Rajpur',
 'Narendrapur',
 'Sonarpur',
 'Barasat',
 'Maheshtala',
 'Howrah',
 'Rajpur',
 'Sonarpur',
 'Rajarhat',
 'NewTown',
 'Rajarhat',
 'NewTown',
 'BTRoad',
 'e,inMadhyamGram',
 'ThakurPukur',
 'Rajarhat',
 'Joka',
 ',inTopsia',
 'Rajarhat',
 'Rajarhat',
 'Towers,inHowrah',
 'Kamalgazi,Narendrapur',
 'Rajarhat',
 'Naktala,Garia',
 'IndianInstituteOfManagementCalcutta,Joka',
 'DumdumPark',
 'Rajarhat',
 'DakshinSrirampur,Rajpur']

In [29]:
loc_new=tail.copy()
loc_new

['Sonarpur',
 'BTRoad',
 'Rajpur',
 'Narendrapur',
 'Sonarpur',
 'Barasat',
 'Maheshtala',
 'Howrah',
 'Rajpur',
 'Sonarpur',
 'Rajarhat',
 'NewTown',
 'Rajarhat',
 'NewTown',
 'BTRoad',
 'e,inMadhyamGram',
 'ThakurPukur',
 'Rajarhat',
 'Joka',
 ',inTopsia',
 'Rajarhat',
 'Rajarhat',
 'Towers,inHowrah',
 'Kamalgazi,Narendrapur',
 'Rajarhat',
 'Naktala,Garia',
 'IndianInstituteOfManagementCalcutta,Joka',
 'DumdumPark',
 'Rajarhat',
 'DakshinSrirampur,Rajpur']

In [30]:
#area(sqft) class data extracted
sumy = soup.findAll(attrs={'class':'m-srp-card__summary__info'})

In [31]:
l=len(sumy)
l

231

In [32]:
d=[None]*l

In [33]:
for i in range(0,l):
    d[i]=sumy[i].text.replace("\t","").replace("\n","").replace(" ","")

In [34]:
head,sep,tail=d[0].partition('\xa0')

In [35]:
head

'823'

In [36]:
tail

'sqft'

In [37]:
l=len(d)
l

231

In [38]:
head=[None]*l
sep=[None]*l
tail=[None]*l
area=[None]*l

In [39]:
for i in range(0,l):
    head[i], sep[i], tail[i] = d[i].partition('\xa0')
    if tail[i] == "sqft":
         area[i]=head[i]

In [40]:
area_new = []
for val in area:
    if val != None :
        area_new.append(val)

In [41]:
area_new

['823',
 '627',
 '1050',
 '1011',
 '957',
 '1064',
 '526',
 '1326',
 '1188',
 '863',
 '834',
 '1420',
 '1317',
 '913',
 '1670',
 '880',
 '799',
 '1180',
 '647',
 '1126',
 '1970',
 '1337',
 '1300',
 '955',
 '670',
 '806',
 '1370',
 '911',
 '1105',
 '725']

In [42]:
#creating dataframe using the list
data=pd.DataFrame(list(zip(price_new,size_new,loc_new,area_new)),columns=['price','bhk','location','area(sqft)'])

In [43]:
data

       price       bhk                                  location area(sqft)
0   25.5 Lac  2BHKFlat                                  Sonarpur        823
1   49.5 Lac  2BHKFlat                                    BTRoad        627
2     29 Lac  3BHKFlat                                    Rajpur       1050
3   41.5 Lac  2BHKFlat                               Narendrapur       1011
4   29.7 Lac  2BHKFlat                                  Sonarpur        957
5   36.2 Lac  3BHKFlat                                   Barasat       1064
6   23.9 Lac  2BHKFlat                                Maheshtala        526
7   69.7 Lac  3BHKFlat                                    Howrah       1326
8   40.4 Lac  3BHKFlat                                    Rajpur       1188
9   26.8 Lac  2BHKFlat                                  Sonarpur        863
10    63 Lac  3BHKFlat                                  Rajarhat        834
11    71 Lac  3BHKFlat                                   NewTown       1420
12  52.2 Lac  3BHKFlat                                  Rajarhat       1317
13  39.8 Lac  2BHKFlat                                   NewTown        913
14  72.6 Lac  3BHKFlat                                    BTRoad       1670
15    29 Lac  2BHKFlat                           e,inMadhyamGram        880
16  26.4 Lac  2BHKFlat                               ThakurPukur        799
17  61.3 Lac  3BHKFlat                                  Rajarhat       1180
18  21.4 Lac  2BHKFlat                                      Joka        647
19   1.07 Cr  3BHKFlat                                 ,inTopsia       1126
20    70 Lac  3BHKFlat                                  Rajarhat       1970
21  64.2 Lac  3BHKFlat                                  Rajarhat       1337
22    78 Lac  3BHKFlat                           Towers,inHowrah       1300
23  27.7 Lac  2BHKFlat                     Kamalgazi,Narendrapur        955
24    62 Lac  2BHKFlat                                  Rajarhat        670
25    48 Lac  3BHKFlat                             Naktala,Garia        806
26  54.8 Lac  3BHKFlat  IndianInstituteOfManagementCalcutta,Joka       1370
27  56.9 Lac  3BHKFlat                                DumdumPark        911
28  49.7 Lac  2BHKFlat                                  Rajarhat       1105
29    41 Lac  2BHKFlat                   DakshinSrirampur,Rajpur        725

In [44]:
#exporting the data to csv
data.to_csv('output.csv')